{%extends 'layout.htm'%}

{% block body %}


<style>
 
  


#showcase {
  background-image: url('../static/img/about.jpeg') ;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  bottom: 300px;
 }

.container {
  margin-top: 100px;
}


</style>




<section id="showcase">
  <div class="container">
    <h1>Leader in Games development field </h1>
    <p>The largest company in the field with about 30 years of experience and high reputation </p>
  </div>
</section>









{%endblock%}