

{% extends 'layout.htm'%}

{% block body %}

<style>
 body {
  background-image: url('../static/img/1463.jpg') ;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }
 h1,label{
   color: aliceblue;}
 p {
  margin-left: 480px;
  margin-top: 50px;
   }
 
</style>








<h1>Welcome | Login</h1>
<br>
<br>
<br>




<form method="POST">

 <div class="form-group">
   <label>Username</label>
   <input type="text" name="username" class="form-control" value={{request.form.username}}>
 </div>
 <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" value={{request.form.password}}>
  </div>
 


<p> <input type="submit" class="btn btn-dark" value="submit"></p>



</form>


{%endblock%}